<div class="container pb-5 mb-sm-2">
  <div class="topicsection">
    <h1 class="title">Add New Item</h1>
  </div>
  <p>
    <a routerLink="/inventory">All inventory</a> |
    <a routerLink="/createitem">Add item</a>
  </p>
  <hr />
  <!--
  <form (ngSubmit)="createNew()">
    <div class="card border-0">
      <div style="text-align: center">
        <div [innerHtml]="msg" *ngIf="msg" style="color: red"></div>
        <div><img [src]="url" *ngIf="url" /></div>
        <p>
          <input type="file" (change)="selectFile($event)" />
        </p>
      </div>
      <div class="card-body pb-2">
        <div class="form-group">
          <label for="itemName">Item Name</label>
          <input type="text" name="itemname" [(ngModel)]="newItem.itemName" />
        </div>
        <div class="form-group">
          <label for="itemPrice">Item Price</label>
          <input type="text" name="itemPrice" [(ngModel)]="newItem.itemPrice" />
        </div>
        <div class="form-group">
          <label for="itemDescription">Item Description</label>
          <input
            type="text"
            name="itemDescription"
            [(ngModel)]="newItem.itemDescription"
          />
        </div>
        <label for="itemSeller">Item Seller</label>
        <input type="text" name="itemSeller" [(ngModel)]="newItem.itemSeller" />
      </div>
      <br />
    </div>
    <button type="submit">Create</button>
  </form>
</div>
-->
  <section>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px">
              <div class="card-body p-5 bigdiv">
                <form form (ngSubmit)="createNew()">
                  <div class="form-group">
                    <div style="text-align: center">
                      <div
                        [innerHtml]="msg"
                        *ngIf="msg"
                        style="color: red"
                      ></div>
                      <div><img [src]="url" *ngIf="url" /></div>
                      <p>
                        <input type="file" (change)="selectFile($event)" />
                      </p>
                    </div>
                    <br />
                    <div class="form-group">
                      <input
                        type="text"
                        name="itemname"
                        [(ngModel)]="newItem.itemName"
                        placeholder="item name"
                      />
                    </div>
                    <br />
                    <div class="form-group">
                      <input
                        type="text"
                        name="itemPrice"
                        [(ngModel)]="newItem.itemPrice"
                        placeholder="item price"
                      />
                    </div>
                  </div>
                  <br />
                  <div class="form-group">
                    <div class="form-group">
                      <input
                        type="text"
                        name="itemDescription"
                        [(ngModel)]="newItem.itemDescription"
                        placeholder="item description"
                      />
                    </div>
                    <br />
                    <div class="form-group">
                      <input
                        type="text"
                        name="itemSeller"
                        [(ngModel)]="newItem.itemSeller"
                        placeholder="item seller"
                      />
                    </div>
                    <br />
                    <button type="submit">Create</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
