<div class="container pb-5 mb-sm-2">
    <div class="topicsection">
      <h1 class="title">Men's Hat's</h1>
      <p>
        Shop from a wide selection of stylish and affordable hat's from sellers
        across America
      </p>
    </div>
    <hr />
    <!-- Categories-->
    <div class="row no-gutters">
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/menshats1"><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/fashionable-man-in-hat.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's hat's"/></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Charlie Hat</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$59.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/menshats2"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/fashion-toronto-watch.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's hat's"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Throwback</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$20.99</span></span
            >
          </div>
        </div>
      </div>
      <!---Category -->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/menshats3"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/the-man-in-the-hat.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's leather hat"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Leather Hat</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$30.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/menshats4"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/young-man-adjusts-his-baseball-cap.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="Men's Baseball Cap"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Baseball Cap</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$31.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/menshats5"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/tan-colored-hat-on-monochrome-background.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="Brown hat"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Brown Hat</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$15.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/menshats6"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/bearded-man-in-sun-and-shadow.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's black hat"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Black Hat</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$10.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/menshats7"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/hipster-enamel-pin-hat.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's grey hat"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Grey Hat</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$12.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/menshats8"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/man-wearing-hat-on-sunny-snow-day.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="mens beanie"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's beanie</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$9.99</span></span
            >
          </div>
        </div>
      </div>
    
      
      
