<!DOCTYPE html>
<html>
  
<head>
    <meta http-equiv="refresh" content="5; url =
    http://localhost:4200/inventory" />
</head>

<body>
    <h1 style="float:left;">
        Review Items:
      </h1>
      
    <div style="overflow:auto;">
        <div style="text-align:right;">
          <a class="btn btn-outline-dark mr-2 shopbutton" href="http://localhost:4200/shop">Previous</a>
          <a class="btn btn-outline-dark mr-2 shopbutton" href="http://localhost:4200/cart">Next</a>
        </div>
      </div>
      
</body>
