<div class="container pb-5 mb-sm-2">
    <div class="topicsection">
      <h1 class="title">Men's Jacket's</h1>
      <p>
        Shop from a wide selection of stylish and affordable jacket's from sellers
        across America
      </p>
    </div>
    <hr />
    <!-- Categories-->
    <div class="row no-gutters">
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensjackets1"><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/man-puts-his-hand-inside-his-jacket.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's hat's"/></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Black Peacoat</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$150.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensjackets2"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/dark-haired-man-in-brown-leather-jacket.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's hat's"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Leather Jacket</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$100.99</span></span
            >
          </div>
        </div>
      </div>
      <!---Category -->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensjackets3"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/man-sitting-in-city.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's leather hat"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Denim Jacket</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$65.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensjackets4"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/young-man-on-rooftop-in-brown-coat.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="Men's Baseball Cap"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Brown Coat</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$120.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensjackets5"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/mens-fall-jacket-in-black.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="Brown hat"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Black Jacket</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$45.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensjackets6"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/jacket-in-blues.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's black hat"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Blue Jacket</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$40.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensjackets7"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/man-looks-to-the-left-on-a-fall-day.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's grey hat"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Brown Jacket</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$60.99</span></span
            >
          </div>
        </div>
      </div>
      
    
      
      

