<!DOCTYPE html>
<html>
  
<head>
    <title>Payment Success</title>
    <meta http-equiv="refresh" content="5; url =
    http://localhost:4200/payment" />
</head>
  
<body>
    <h1 style="text-align:center;color:green;">
    Your Item Has Been Purchased!
  </h1>
  <h2>
    <p style="text-align:center;">
        Thank you for shopping at Econex!
    </p>
    </h2>

    <div style="overflow:auto;">
        <div style="text-align:center;">
          <a class="btn btn-outline-dark mr-2 shopbutton" href="http://localhost:4200/">Return Home</a>
        </div>
      </div>
  
</body>
  
</html>