<!DOCTYPE html>
<section>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">
                Login to Business Account
              </h2>

              <form
                
                (ngSubmit)="businessLogin()"
              >
                <div class="form-group">
                  <input
                    formControlName="Username"
                    type="text"
                    class="form-control"
                    id="exampleInputUsername1"
                    aria-describedby="username"
                    placeholder="username"
                  />
                </div>
                <span
                  class="text-danger"
                  *ngIf="
                    businessLoginForm.controls['Username'].dirty &&
                    businessLoginForm.hasError('required', 'Username')
                  "
                  >*Username is required</span
                >
                <div class="form-group">
                  <input
                    formControlName="BusinessName"
                    type="text"
                    class="form-control"
                    id="exampleInputBusinessName1"
                    aria-describedby="businessname"
                    placeholder="business name"
                  />
                </div>
                <span
                  class="text-danger"
                  *ngIf="
                    businessLoginForm.controls['BusinessName'].dirty &&
                    businessLoginForm.hasError('required', 'BusinessName')
                  "
                  >*Business Name is required</span
                >
                <div class="form-group">
                  <input
                    formControlName="Password"
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    aria-describedby="password"
                    placeholder="password"
                  />
                </div>
                <span
                  class="text-danger"
                  *ngIf="
                    businessLoginForm.controls['Password'].dirty &&
                    businessLoginForm.hasError('required', 'Password')
                  "
                  >*Password is required</span
                >
                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    [disabled]="!businessLoginForm.valid"
                    class="btn btn-dark mb-2"
                  >
                    Login
                  </button>
                </div>
              </form>
              <a
                style="color: white;"
                routerLink="/businessregister"
                >You don't have a business account? Sign-up</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>