<div class="row">
    <div class="col-sm-4 col-md-3">
      <h3>Categories</h3>
      <div class="list-group list-group-flush">
        <a href="category.html" class="list-group-item">Men's Shoes</a>
        <a href="category.html" class="list-group-item">Men's Jacket's</a>
        <a href="category.html" class="list-group-item">Men's Jean's</a>
        <a href="category.html" class="list-group-item">Men's Shirts</a>
        <a href="category.html" class="list-group-item">Men's Hats</a>
        <a href="category.html" class="list-group-item">Women's Jean's</a>
        <a href="category.html" class="list-group-item">Women's Jacket's</a>
        <a href="category.html" class="list-group-item">Women's Shirts</a>
        <a href="category.html" class="list-group-item">Women's Shoes</a>
      </div>
    </div>
    <div class="col-sm-8 col-md-9">
        <div class="row">
       

    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 15rem;">
            <img src="https://burst.shopifycdn.com/photos/new-shoes.jpg?width=4000&height=1360exif=1&iptc=1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$24.99</h5>
              <p class="card-text">Men's Sneaker<s></s></p>
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
            
          </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 15rem;">
            <img src="https://burst.shopifycdn.com/photos/mens-outerwear-in-navy.jpg?width=4460&height=4460&exif=1&iptc=1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$54.99</h5>
              <p class="card-text">Men's Jacket<s></s></p>
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
            
          </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 15rem;">
            <img src="https://burst.shopifycdn.com/photos/a-pile-of-denim-jeans-in-different-shades-of-blue.jpg?width=4460&height=4460&exif=1&iptc=1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$23.99</h5>
              <p class="card-text">Men's Jean's<s></s></p>
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
            
          </div>
    </div>
        <div class="col-sm-6 col-md-4">
            <div class="card" style="width: 15rem;">
                <img src="https://burst.shopifycdn.com/photos/high-heels-with-baggy-fashion.jpg?width=4460&height=4460&exif=1&iptc=1" class="card-img-top" alt="...">
                
                <div class="card-body">
                  <h5 class="card-title">$32.99</h5>
                  <p class="card-text">Women's Heels</p>
                  <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
                
              </div>
        </div>
    </div>
     </div> 
    </div>
