<div class="row">
  <div class="col-sm-4 col-md-3">
    <h3>Categories</h3>
    <div class="list-group list-group-flush">
      <a href="/allmensshoes" class="list-group-item">Men's Shoes</a>
      <a href="allmensjackets" class="list-group-item">Men's Jacket's</a>
      <a href="allmensjeans" class="list-group-item">Men's Jean's</a>
      <a href="/allmensshirts" class="list-group-item">Men's Shirts</a>
      <a href="allmenshats" class="list-group-item">Men's Hats</a>
      <a href="/allwomenjeans" class="list-group-item">Women's Jean's</a>
      <a href="/allwomenjackets" class="list-group-item">Women's Jacket's</a>
      <a href="/allwomenshirts" class="list-group-item">Women's Shirts</a>
      <a href="/allwomenshoes" class="list-group-item">Women's Shoes</a>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    <div class="container pb-5 mb-sm-2">
      <div class="topicsection">
        <h1 class="title">Inventory</h1>
      </div>

      <hr />

      <div class="row no-gutters">
        <div
          *ngFor="let item of listofItems"
          class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
        >
          <a routerLink="/inventory/{{ item.itemId }}">
            <div class="card border-0">
              <a class="d-block" href=" "
                ><img class="d-block" src="{{ item.imgURL }}" alt="Econex item"
              /></a>
              <div class="card-body pb-2">
                <h2 class="h6 mb-2">{{ item.itemName }}</h2>
                <span class="d-block mb-3 font-size-xs text-muted">
                  <span class="font-weight-semibold">{{
                    item.itemPrice
                  }}</span></span
                >
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="container pb-5 mb-sm-2">
          <div class="topicsection">
            <h1 class="title">Men's Hat's</h1>
            <p>
              Shop from a wide selection of stylish and affordable hats from
              sellers across America
            </p>
          </div>
          <hr />
          <!-- Categories-->
          <div class="row no-gutters">
            <!--Category-->
            <div
              class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
            >
              <div class="card border-0">
                <a class="d-block" href="/menshats1"
                  ><img
                    class="d-block"
                    src="https://burst.shopifycdn.com/photos/fashionable-man-in-hat.jpg?width=4460&height=4460&exif=1&iptc=1"
                    alt="men's hat's"
                /></a>
                <div class="card-body pb-2">
                  <h2 class="h6 mb-2">Men's Charlie Hat</h2>
                  <span class="d-block mb-3 font-size-xs text-muted">
                    <span class="font-weight-semibold">$59.99</span></span
                  >
                </div>
              </div>
            </div>
            <!--Category-->
            <div
              class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
            >
              <div class="card border-0">
                <a class="d-block" href="/menshats2"
                  ><img
                    class="d-block"
                    src="https://burst.shopifycdn.com/photos/fashion-toronto-watch.jpg?width=4460&height=4460&exif=1&iptc=1"
                    alt="men's hat's"
                /></a>
                <div class="card-body pb-2">
                  <h2 class="h6 mb-2">Men's Throwback</h2>
                  <span class="d-block mb-3 font-size-xs text-muted">
                    <span class="font-weight-semibold">$20.99</span></span
                  >
                </div>
              </div>
            </div>
            <!---Category -->
            <div
              class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
            >
              <div class="card border-0">
                <a class="d-block" href="/menshats3"
                  ><img
                    class="d-block"
                    src="https://burst.shopifycdn.com/photos/the-man-in-the-hat.jpg?width=4460&height=4460&exif=1&iptc=1"
                    alt="men's leather hat"
                /></a>
                <div class="card-body pb-2">
                  <h2 class="h6 mb-2">Men's Leather Hat</h2>
                  <span class="d-block mb-3 font-size-xs text-muted">
                    <span class="font-weight-semibold">$30.99</span></span
                  >
                </div>
              </div>
            </div>
            <!--Category-->
            <div
              class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
            >
              <div class="card border-0">
                <a class="d-block" href="/menshats4"
                  ><img
                    class="d-block"
                    src="https://burst.shopifycdn.com/photos/young-man-adjusts-his-baseball-cap.jpg?width=4460&height=4460&exif=1&iptc=1"
                    alt="Men's Baseball Cap"
                /></a>
                <div class="card-body pb-2">
                  <h2 class="h6 mb-2">Men's Baseball Cap</h2>
                  <span class="d-block mb-3 font-size-xs text-muted">
                    <span class="font-weight-semibold">$31.99</span></span
                  >
                </div>
              </div>
            </div>
            <!--Category-->
            <div
              class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
            >
              <div class="card border-0">
                <a class="d-block" href="/menshats5"
                  ><img
                    class="d-block"
                    src="https://burst.shopifycdn.com/photos/tan-colored-hat-on-monochrome-background.jpg?width=4460&height=4460&exif=1&iptc=1"
                    alt="Brown hat"
                /></a>
                <div class="card-body pb-2">
                  <h2 class="h6 mb-2">Men's Brown Hat</h2>
                  <span class="d-block mb-3 font-size-xs text-muted">
                    <span class="font-weight-semibold">$15.99</span></span
                  >
                </div>
              </div>
            </div>
            <!--Category-->
            <div
              class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
            >
              <div class="card border-0">
                <a class="d-block" href="/menshats6"
                  ><img
                    class="d-block"
                    src="https://burst.shopifycdn.com/photos/bearded-man-in-sun-and-shadow.jpg?width=4460&height=4460&exif=1&iptc=1"
                    alt="men's black hat"
                /></a>
                <div class="card-body pb-2">
                  <h2 class="h6 mb-2">Men's Black Hat</h2>
                  <span class="d-block mb-3 font-size-xs text-muted">
                    <span class="font-weight-semibold">$10.99</span></span
                  >
                </div>
              </div>
            </div>
            <!--Category-->
            <div
              class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
            >
              <div class="card border-0">
                <a class="d-block" href="/menshats7"
                  ><img
                    class="d-block"
                    src="https://burst.shopifycdn.com/photos/hipster-enamel-pin-hat.jpg?width=4460&height=4460&exif=1&iptc=1"
                    alt="men's grey hat"
                /></a>
                <div class="card-body pb-2">
                  <h2 class="h6 mb-2">Men's Grey Hat</h2>
                  <span class="d-block mb-3 font-size-xs text-muted">
                    <span class="font-weight-semibold">$12.99</span></span
                  >
                </div>
              </div>
            </div>
            <!--Category-->
            <div
              class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
            >
              <div class="card border-0">
                <a class="d-block" href="/menshats8"
                  ><img
                    class="d-block"
                    src="https://burst.shopifycdn.com/photos/man-wearing-hat-on-sunny-snow-day.jpg?width=4460&height=4460&exif=1&iptc=1"
                    alt="mens beanie"
                /></a>
                <div class="card-body pb-2">
                  <h2 class="h6 mb-2">Men's beanie</h2>
                  <span class="d-block mb-3 font-size-xs text-muted">
                    <span class="font-weight-semibold">$9.99</span></span
                  >
                </div>
              </div>
            </div>
            <br />
            <div class="topicsection">
              <h1 class="title">Men's Jacket's</h1>
              <p>
                Shop from a wide selection of stylish and affordable jackets
                from sellers across America
              </p>
            </div>
            <hr />
            <!-- Categories-->
            <div class="row no-gutters">
              <!--Category-->
              <div
                class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
              >
                <div class="card border-0">
                  <a class="d-block" href="/mensjackets1"
                    ><img
                      class="d-block"
                      src="https://burst.shopifycdn.com/photos/man-puts-his-hand-inside-his-jacket.jpg?width=4460&height=4460&exif=1&iptc=1"
                      alt="men's hat's"
                  /></a>
                  <div class="card-body pb-2">
                    <h2 class="h6 mb-2">Men's Black Peacoat</h2>
                    <span class="d-block mb-3 font-size-xs text-muted">
                      <span class="font-weight-semibold">$150.99</span></span
                    >
                  </div>
                </div>
              </div>
              <!--Category-->
              <div
                class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
              >
                <div class="card border-0">
                  <a class="d-block" href="/mensjackets2"
                    ><img
                      class="d-block"
                      src="https://burst.shopifycdn.com/photos/dark-haired-man-in-brown-leather-jacket.jpg?width=4460&height=4460&exif=1&iptc=1"
                      alt="men's hat's"
                  /></a>
                  <div class="card-body pb-2">
                    <h2 class="h6 mb-2">Men's Leather Jacket</h2>
                    <span class="d-block mb-3 font-size-xs text-muted">
                      <span class="font-weight-semibold">$100.99</span></span
                    >
                  </div>
                </div>
              </div>
              <!---Category -->
              <div
                class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
              >
                <div class="card border-0">
                  <a class="d-block" href="/mensjackets3"
                    ><img
                      class="d-block"
                      src="https://burst.shopifycdn.com/photos/man-sitting-in-city.jpg?width=4460&height=4460&exif=1&iptc=1"
                      alt="men's leather hat"
                  /></a>
                  <div class="card-body pb-2">
                    <h2 class="h6 mb-2">Men's Denim Jacket</h2>
                    <span class="d-block mb-3 font-size-xs text-muted">
                      <span class="font-weight-semibold">$65.99</span></span
                    >
                  </div>
                </div>
              </div>
              <!--Category-->
              <div
                class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
              >
                <div class="card border-0">
                  <a class="d-block" href="/mensjackets4"
                    ><img
                      class="d-block"
                      src="https://burst.shopifycdn.com/photos/young-man-on-rooftop-in-brown-coat.jpg?width=4460&height=4460&exif=1&iptc=1"
                      alt="Men's Baseball Cap"
                  /></a>
                  <div class="card-body pb-2">
                    <h2 class="h6 mb-2">Men's Brown Coat</h2>
                    <span class="d-block mb-3 font-size-xs text-muted">
                      <span class="font-weight-semibold">$120.99</span></span
                    >
                  </div>
                </div>
              </div>
              <!--Category-->
              <div
                class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
              >
                <div class="card border-0">
                  <a class="d-block" href="/mensjackets5"
                    ><img
                      class="d-block"
                      src="https://burst.shopifycdn.com/photos/mens-fall-jacket-in-black.jpg?width=4460&height=4460&exif=1&iptc=1"
                      alt="Brown hat"
                  /></a>
                  <div class="card-body pb-2">
                    <h2 class="h6 mb-2">Men's Black Jacket</h2>
                    <span class="d-block mb-3 font-size-xs text-muted">
                      <span class="font-weight-semibold">$45.99</span></span
                    >
                  </div>
                </div>
              </div>
              <!--Category-->
              <div
                class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
              >
                <div class="card border-0">
                  <a class="d-block" href="/mensjackets6"
                    ><img
                      class="d-block"
                      src="https://burst.shopifycdn.com/photos/jacket-in-blues.jpg?width=4460&height=4460&exif=1&iptc=1"
                      alt="men's black hat"
                  /></a>
                  <div class="card-body pb-2">
                    <h2 class="h6 mb-2">Men's Blue Jacket</h2>
                    <span class="d-block mb-3 font-size-xs text-muted">
                      <span class="font-weight-semibold">$40.99</span></span
                    >
                  </div>
                </div>
              </div>
              <!--Category-->
              <div
                class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
              >
                <div class="card border-0">
                  <a class="d-block" href="/mensjackets7"
                    ><img
                      class="d-block"
                      src="https://burst.shopifycdn.com/photos/man-looks-to-the-left-on-a-fall-day.jpg?width=4460&height=4460&exif=1&iptc=1"
                      alt="men's grey hat"
                  /></a>
                  <div class="card-body pb-2">
                    <h2 class="h6 mb-2">Men's Brown Jacket</h2>
                    <span class="d-block mb-3 font-size-xs text-muted">
                      <span class="font-weight-semibold">$60.99</span></span
                    >
                  </div>
                </div>
              </div>
              <br />
              <div class="topicsection">
                <h1 class="title">Men's Shirt's</h1>
                <p>
                  Shop from a wide selection of stylish and affordable Shirts
                  from sellers across America
                </p>
              </div>
              <hr />
              <!-- Categories-->
              <div class="row no-gutters">
                <!--Category-->
                <div
                  class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                >
                  <div class="card border-0">
                    <a class="d-block" href="/mensshirts1"
                      ><img
                        class="d-block"
                        src="https://burst.shopifycdn.com/photos/white-collar-shirts-on-rack-in-sun.jpg?width=4460&height=4460&exif=1&iptc=1"
                        alt="men's hat's"
                    /></a>
                    <div class="card-body pb-2">
                      <h2 class="h6 mb-2">Men's White Shirts</h2>
                      <span class="d-block mb-3 font-size-xs text-muted">
                        <span class="font-weight-semibold">$40.99</span></span
                      >
                    </div>
                  </div>
                </div>
                <!--Category-->
                <div
                  class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                >
                  <div class="card border-0">
                    <a class="d-block" href="/mensshirts2"
                      ><img
                        class="d-block"
                        src="https://burst.shopifycdn.com/photos/dark-red-shirt-with-wooden-buttons.jpg?width=4460&height=4460&exif=1&iptc=1"
                        alt="men's hat's"
                    /></a>
                    <div class="card-body pb-2">
                      <h2 class="h6 mb-2">Men's Red Button Up</h2>
                      <span class="d-block mb-3 font-size-xs text-muted">
                        <span class="font-weight-semibold">$25.99</span></span
                      >
                    </div>
                  </div>
                </div>
                <!---Category -->
                <div
                  class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                >
                  <div class="card border-0">
                    <a class="d-block" href="/mensshirts3"
                      ><img
                        class="d-block"
                        src="https://burst.shopifycdn.com/photos/t-shirts-hanging-on-rack.jpg?width=4460&height=4460&exif=1&iptc=1"
                        alt="men's leather hat"
                    /></a>
                    <div class="card-body pb-2">
                      <h2 class="h6 mb-2">Men's T-Shirt's</h2>
                      <span class="d-block mb-3 font-size-xs text-muted">
                        <span class="font-weight-semibold">$40.99</span></span
                      >
                    </div>
                  </div>
                </div>
                <!--Category-->
                <div
                  class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                >
                  <div class="card border-0">
                    <a class="d-block" href="/mensshirts4"
                      ><img
                        class="d-block"
                        src="https://burst.shopifycdn.com/photos/long-sleeved-back-shirt.jpg?width=4460&height=4460&exif=1&iptc=1"
                        alt="Men's Baseball Cap"
                    /></a>
                    <div class="card-body pb-2">
                      <h2 class="h6 mb-2">Men's Black Long Sleeve</h2>
                      <span class="d-block mb-3 font-size-xs text-muted">
                        <span class="font-weight-semibold">$30.99</span></span
                      >
                    </div>
                  </div>
                </div>
                <!--Category-->
                <div
                  class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                >
                  <div class="card border-0">
                    <a class="d-block" href="/mensshirts5"
                      ><img
                        class="d-block"
                        src="https://burst.shopifycdn.com/photos/white-tshirt-template.jpg?width=4460&height=4460&exif=1&iptc=1"
                        alt="Brown hat"
                    /></a>
                    <div class="card-body pb-2">
                      <h2 class="h6 mb-2">Men's White Shirt</h2>
                      <span class="d-block mb-3 font-size-xs text-muted">
                        <span class="font-weight-semibold">$20.99</span></span
                      >
                    </div>
                  </div>
                </div>
                <!--Category-->
                <div
                  class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                >
                  <div class="card border-0">
                    <a class="d-block" href="/mensshirts6"
                      ><img
                        class="d-block"
                        src="https://burst.shopifycdn.com/photos/tattooed-man-takes-a-stroll-in-summer.jpg?width=4460&height=4460&exif=1&iptc=1"
                        alt="men's black hat"
                    /></a>
                    <div class="card-body pb-2">
                      <h2 class="h6 mb-2">Men's Black Shirt</h2>
                      <span class="d-block mb-3 font-size-xs text-muted">
                        <span class="font-weight-semibold">$15.99</span></span
                      >
                    </div>
                  </div>
                </div>
                <!--Category-->
                <div
                  class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                >
                  <div class="card border-0">
                    <a class="d-block" href="/mensshirts7"
                      ><img
                        class="d-block"
                        src="https://burst.shopifycdn.com/photos/mens-fashion-near-blue-and-red-wall.jpg?width=4460&height=4460&exif=1&iptc=1"
                        alt="men's grey hat"
                    /></a>
                    <div class="card-body pb-2">
                      <h2 class="h6 mb-2">Men's Pink Button-Up</h2>
                      <span class="d-block mb-3 font-size-xs text-muted">
                        <span class="font-weight-semibold">$25.99</span></span
                      >
                    </div>
                  </div>
                </div>
                <br />
                <div class="topicsection">
                  <h1 class="title">Men's Shoe's</h1>
                  <p>
                    Shop from a wide selection of stylish and affordable shoes
                    from sellers across America
                  </p>
                </div>
                <hr />
                <!-- Categories-->
                <div class="row no-gutters">
                  <!--Category-->
                  <div
                    class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                  >
                    <div class="card border-0">
                      <a class="d-block" href="/mensshoes1"
                        ><img
                          class="d-block"
                          src="https://burst.shopifycdn.com/photos/mens-dress-shoes.jpg?width=4460&height=4460&exif=1&iptc=1"
                          alt="men's shoes"
                      /></a>
                      <div class="card-body pb-2">
                        <h2 class="h6 mb-2">Men's leather Shoe's</h2>
                        <span class="d-block mb-3 font-size-xs text-muted">
                          <span class="font-weight-semibold">$59.99</span></span
                        >
                      </div>
                    </div>
                  </div>
                  <!--Category-->
                  <div
                    class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                  >
                    <div class="card border-0">
                      <a class="d-block" href="/mensshoes2"
                        ><img
                          class="d-block"
                          src="https://burst.shopifycdn.com/photos/new-shoes.jpg?width=4460&height=4460&exif=1&iptc=1"
                          alt="men's sneakers"
                      /></a>
                      <div class="card-body pb-2">
                        <h2 class="h6 mb-2">Men's sneaker's</h2>
                        <span class="d-block mb-3 font-size-xs text-muted">
                          <span class="font-weight-semibold">$59.99</span></span
                        >
                      </div>
                    </div>
                  </div>
                  <!---Category -->
                  <div
                    class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                  >
                    <div class="card border-0">
                      <a class="d-block" href="/mensshoes3"
                        ><img
                          class="d-block"
                          src="https://burst.shopifycdn.com/photos/footwear-close-up-man-tying-shoelace.jpg?width=4460&height=4460&exif=1&iptc=1"
                          alt="men's leather shoe's"
                      /></a>
                      <div class="card-body pb-2">
                        <h2 class="h6 mb-2">Men's Leather Sneaker's</h2>
                        <span class="d-block mb-3 font-size-xs text-muted">
                          <span class="font-weight-semibold">$60</span></span
                        >
                      </div>
                    </div>
                  </div>
                  <!--Category-->
                  <div
                    class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                  >
                    <div class="card border-0">
                      <a class="d-block" href="/mensshoes4"
                        ><img
                          class="d-block"
                          src="https://burst.shopifycdn.com/photos/black-hightop-LED-shoes.jpg?width=4460&height=4460&exif=1&iptc=1"
                          alt="LED sneaker's"
                      /></a>
                      <div class="card-body pb-2">
                        <h2 class="h6 mb-2">Men's LED Sneaker's</h2>
                        <span class="d-block mb-3 font-size-xs text-muted">
                          <span class="font-weight-semibold">$99.99</span></span
                        >
                      </div>
                    </div>
                  </div>
                  <!--Category-->
                  <div
                    class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                  >
                    <div class="card border-0">
                      <a class="d-block" href="/mensshoes5"
                        ><img
                          class="d-block"
                          src="https://burst.shopifycdn.com/photos/footwear-close-up-man-tying-shoelace-from-side.jpg?width=4460&height=4460&exif=1&iptc=1"
                          alt="Brown leather shoe's"
                      /></a>
                      <div class="card-body pb-2">
                        <h2 class="h6 mb-2">Men's Brown Leather Shoe's</h2>
                        <span class="d-block mb-3 font-size-xs text-muted">
                          <span class="font-weight-semibold"
                            >$149.99</span
                          ></span
                        >
                      </div>
                    </div>
                  </div>
                  <!--Category-->
                  <div
                    class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                  >
                    <div class="card border-0">
                      <a class="d-block" href="/mensshoes6"
                        ><img
                          class="d-block"
                          src="https://burst.shopifycdn.com/photos/hiking-shoes-reach-out-to-a-cold-aqua-lake-and-rocky-mountians.jpg?width=4460&height=4460&exif=1&iptc=1"
                          alt="men's hiking boots"
                      /></a>
                      <div class="card-body pb-2">
                        <h2 class="h6 mb-2">Men's Hiking Boot's</h2>
                        <span class="d-block mb-3 font-size-xs text-muted">
                          <span class="font-weight-semibold">$89.99</span></span
                        >
                      </div>
                    </div>
                  </div>
                  <!--Category-->
                  <div
                    class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                  >
                    <div class="card border-0">
                      <a class="d-block" href="/mensshoes7"
                        ><img
                          class="d-block"
                          src="https://burst.shopifycdn.com/photos/sitting-on-ladder-wearing-sneakers.jpg?width=4460&height=4460&exif=1&iptc=1"
                          alt="men's sneakers 2"
                      /></a>
                      <div class="card-body pb-2">
                        <h2 class="h6 mb-2">Men's Sneaker's</h2>
                        <span class="d-block mb-3 font-size-xs text-muted">
                          <span class="font-weight-semibold">$79.99</span></span
                        >
                      </div>
                    </div>
                  </div>
                  <!--Category-->
                  <div
                    class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                  >
                    <div class="card border-0">
                      <a class="d-block" href="/mensshoes8"
                        ><img
                          class="d-block"
                          src="https://burst.shopifycdn.com/photos/feet-wearing-white-patterned-trainers.jpg?width=4460&height=4460&exif=1&iptc=1"
                          alt="pattern sneakers"
                      /></a>
                      <div class="card-body pb-2">
                        <h2 class="h6 mb-2">Men's Custom Sneaker's</h2>
                        <span class="d-block mb-3 font-size-xs text-muted">
                          <span class="font-weight-semibold">$50.99</span></span
                        >
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                  >
                    <div class="card border-0">
                      <a class="d-block" href="/mensshoes9"
                        ><img
                          class="d-block"
                          src="https://burst.shopifycdn.com/photos/beige-trainers-in-front-of-yellow-beam.jpg?width=4460&height=4460&exif=1&iptc=1"
                          alt="Beige Trainers"
                      /></a>
                      <div class="card-body pb-2">
                        <h2 class="h6 mb-2">Men's Beige Trainer's</h2>
                        <span class="d-block mb-3 font-size-xs text-muted">
                          <span class="font-weight-semibold">$99.99</span></span
                        >
                      </div>
                    </div>
                  </div>
                  <!--Category-->
                  <div
                    class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                  >
                    <div class="card border-0">
                      <a class="d-block" href="/mensshoes10"
                        ><img
                          class="d-block"
                          src="https://burst.shopifycdn.com/photos/black-sneakers-with-white-sole.jpg?width=4460&height=4460&exif=1&iptc=1"
                          alt="Black workout shoes"
                      /></a>
                      <div class="card-body pb-2">
                        <h2 class="h6 mb-2">Men's Workout Shoe's</h2>
                        <span class="d-block mb-3 font-size-xs text-muted">
                          <span class="font-weight-semibold">$54.99</span></span
                        >
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="topicsection">
                    <h1 class="title">Men's Jean's</h1>
                    <p>
                      Shop from a wide selection of stylish and affordable
                      jean's from sellers across America
                    </p>
                  </div>
                  <hr />
                  <!-- Categories-->
                  <div class="row no-gutters">
                    <!--Category-->
                    <div
                      class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                    >
                      <div class="card border-0">
                        <a class="d-block" href="/mensjeans1"
                          ><img
                            class="d-block"
                            src="https://burst.shopifycdn.com/photos/mens-fashion-hand-in-jeans-pocket.jpg?width=4460&height=4460&exif=1&iptc=1"
                            alt="men's hat's"
                        /></a>
                        <div class="card-body pb-2">
                          <h2 class="h6 mb-2">Men's Black Jean's</h2>
                          <span class="d-block mb-3 font-size-xs text-muted">
                            <span class="font-weight-semibold"
                              >$45.99</span
                            ></span
                          >
                        </div>
                      </div>
                    </div>
                    <!--Category-->
                    <div
                      class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                    >
                      <div class="card border-0">
                        <a class="d-block" href="/mensjeans2"
                          ><img
                            class="d-block"
                            src="https://burst.shopifycdn.com/photos/mens-denim-fashion.jpg?width=4460&height=4460&exif=1&iptc=1"
                            alt="men's hat's"
                        /></a>
                        <div class="card-body pb-2">
                          <h2 class="h6 mb-2">Men's Blue Jean's</h2>
                          <span class="d-block mb-3 font-size-xs text-muted">
                            <span class="font-weight-semibold"
                              >$54.99</span
                            ></span
                          >
                        </div>
                      </div>
                    </div>
                    <!---Category -->
                    <div
                      class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                    >
                      <div class="card border-0">
                        <a class="d-block" href="/mensjeans3"
                          ><img
                            class="d-block"
                            src="https://burst.shopifycdn.com/photos/a-pile-of-denim-jeans-in-different-shades-of-blue.jpg?width=4460&height=4460&exif=1&iptc=1"
                            alt="men's leather hat"
                        /></a>
                        <div class="card-body pb-2">
                          <h2 class="h6 mb-2">Men's Denim Jean's</h2>
                          <span class="d-block mb-3 font-size-xs text-muted">
                            <span class="font-weight-semibold"
                              >$65.99</span
                            ></span
                          >
                        </div>
                      </div>
                    </div>
                    <!--Category-->
                    <div
                      class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                    >
                      <div class="card border-0">
                        <a class="d-block" href="/mensjeans4"
                          ><img
                            class="d-block"
                            src="https://burst.shopifycdn.com/photos/slick-summer-men-s-fashion.jpg?width=4460&height=4460&exif=1&iptc=1"
                            alt="Men's Baseball Cap"
                        /></a>
                        <div class="card-body pb-2">
                          <h2 class="h6 mb-2">Men's Black Dress up Jean's</h2>
                          <span class="d-block mb-3 font-size-xs text-muted">
                            <span class="font-weight-semibold"
                              >$35.99</span
                            ></span
                          >
                        </div>
                      </div>
                    </div>
                    <!--Category-->
                    <div
                      class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                    >
                      <div class="card border-0">
                        <a class="d-block" href="/mensjeans5"
                          ><img
                            class="d-block"
                            src="https://burst.shopifycdn.com/photos/mens-casual-fashion-denim-and-sneakers.jpg?width=4460&height=4460&exif=1&iptc=1"
                            alt="Brown hat"
                        /></a>
                        <div class="card-body pb-2">
                          <h2 class="h6 mb-2">Men's Blue Jean's</h2>
                          <span class="d-block mb-3 font-size-xs text-muted">
                            <span class="font-weight-semibold"
                              >$25.99</span
                            ></span
                          >
                        </div>
                      </div>
                    </div>
                    <!--Category-->
                    <div
                      class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
                    >
                      <div class="card border-0">
                        <a class="d-block" href="/mensjeans6"
                          ><img
                            class="d-block"
                            src="https://burst.shopifycdn.com/photos/close-up-of-lite-blue-jean-fabric.jpg?width=4460&height=4460&exif=1&iptc=1"
                            alt="men's black hat"
                        /></a>
                        <div class="card-body pb-2">
                          <h2 class="h6 mb-2">Men's Light Blue Jean's</h2>
                          <span class="d-block mb-3 font-size-xs text-muted">
                            <span class="font-weight-semibold"
                              >$40.99</span
                            ></span
                          >
                        </div>
                      </div>
                    </div>

                    <!-- <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 15rem;">
            <img src="https://burst.shopifycdn.com/photos/new-shoes.jpg?width=4000&height=1360exif=1&iptc=1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$24.99</h5>
              <p class="card-text">Men's Sneaker<s></s></p>
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
            
        </div>
          </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 15rem;">
            <img src="https://burst.shopifycdn.com/photos/mens-outerwear-in-navy.jpg?width=4460&height=4460&exif=1&iptc=1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$54.99</h5>
              <p class="card-text">Men's Jacket<s></s></p>
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
            
          </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 15rem;">
            <img src="https://burst.shopifycdn.com/photos/a-pile-of-denim-jeans-in-different-shades-of-blue.jpg?width=4460&height=4460&exif=1&iptc=1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$23.99</h5>
              <p class="card-text">Men's Jean's<s></s></p>
              <a href="http://localhost:4200/orderout" class="btn btn-primary">Add To Cart</a>
            </div>
            
          </div>
    </div>
        <div class="col-sm-6 col-md-4">
            <div class="card" style="width: 15rem;">
                <img src="https://burst.shopifycdn.com/photos/high-heels-with-baggy-fashion.jpg?width=4460&height=4460&exif=1&iptc=1" class="card-img-top" alt="...">
                
                <div class="card-body">
                  <h5 class="card-title">$32.99</h5>
                  <p class="card-text">Women's Heels</p>
                  <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
                
              </div>
        </div>
    </div>
     </div>
     -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
