<!DOCTYPE html>
<body class="d-flex flex-column min-vh-100">
  <footer class="bg-light text-center text-lg-start mt-auto">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact Us: Phone Number</h5>

          <p>(123)-456-7890</p>
        </div>

        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact Us: Email</h5>

          <p>corporate@econex.com</p>
        </div>
      </div>
      <div class="socialmedia">
        <a class="d-block" href="https://www.instagram.com/">
          <img
            class="instagram"
            src="https://cdn-icons-png.flaticon.com/128/2111/2111463.png"
            alt="instagram"
            style="width: 30px; height: 30px"
        /></a>
        <a class="d-block" href="https://www.twitter.com/">
          <img
            class="twitter"
            src="https://cdn-icons.flaticon.com/png/128/4494/premium/4494477.png?token=exp=1652250556~hmac=a12ce6d75636c69517a46ece25dc0410"
            alt="twitter"
            style="width: 30px; height: 30px"
        /></a>
        <a class="d-block" href="https://www.facebook.com/">
          <img
            class="facebook"
            src="https://cdn-icons.flaticon.com/png/128/4494/premium/4494475.png?token=exp=1652250556~hmac=d826e800941465074ecce17c6da77a16"
            alt="facebook"
            style="width: 30px; height: 30px"
          />
        </a>
      </div>
    </div>
  </footer>
</body>
