<div class="container pb-5 mb-sm-2">
    <div class="topicsection">
      <h1 class="title">Men's Jean's</h1>
      <p>
        Shop from a wide selection of stylish and affordable jean's from sellers
        across America
      </p>
    </div>
    <hr />
    <!-- Categories-->
    <div class="row no-gutters">
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensjeans1"><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/mens-fashion-hand-in-jeans-pocket.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's hat's"/></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Black Jean's</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$45.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensjeans2"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/mens-denim-fashion.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's hat's"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Blue Jean's</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$54.99</span></span
            >
          </div>
        </div>
      </div>
      <!---Category -->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensjeans3"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/a-pile-of-denim-jeans-in-different-shades-of-blue.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's leather hat"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Denim Jean's</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$65.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensjeans4"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/slick-summer-men-s-fashion.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="Men's Baseball Cap"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Black Dress up Jean's</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$35.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensjeans5"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/mens-casual-fashion-denim-and-sneakers.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="Brown hat"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Blue Jean's</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$25.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensjeans6"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/close-up-of-lite-blue-jean-fabric.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's black hat"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Light Blue Jean's</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$40.99</span></span
            >
          </div>
        </div>
      </div>
    
