<div class="container pb-5 mb-sm-2">
    <div class="topicsection">
      <h1 class="title">Men's Shoe's</h1>
      <p>
        Shop from a wide selection of stylish and affordable shoes from sellers
        across America
      </p>
    </div>
    <hr />
    <!-- Categories-->
    <div class="row no-gutters">
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensshoes1"><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/mens-dress-shoes.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's shoes"/></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's leather Shoe's</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$59.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensshoes2"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/new-shoes.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's sneakers"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's sneaker's</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$59.99</span></span
            >
          </div>
        </div>
      </div>
      <!---Category -->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensshoes3"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/footwear-close-up-man-tying-shoelace.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's leather shoe's"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Leather Sneaker's</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$60</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensshoes4"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/black-hightop-LED-shoes.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="LED sneaker's"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's LED Sneaker's</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$99.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensshoes5"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/footwear-close-up-man-tying-shoelace-from-side.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="Brown leather shoe's"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Brown Leather Shoe's</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$149.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensshoes6"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/hiking-shoes-reach-out-to-a-cold-aqua-lake-and-rocky-mountians.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's hiking boots"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Hiking Boot's</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$89.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensshoes7"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/sitting-on-ladder-wearing-sneakers.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's sneakers 2"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Sneaker's</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$79.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensshoes8"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/feet-wearing-white-patterned-trainers.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="pattern sneakers"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Custom Sneaker's</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$50.99</span></span
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensshoes9"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/beige-trainers-in-front-of-yellow-beam.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="Beige Trainers"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Beige Trainer's</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$99.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensshoes10"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/black-sneakers-with-white-sole.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="Black workout shoes"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Workout Shoe's</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$54.99</span></span
            >
          </div>
        </div>
      </div>
      