<div class="container pb-5 mb-sm-2">
  <div class="topicsection">
    <h1 class="title">Women's Shoes</h1>
    <p>
      Shop from a wide selection of stylish and affordable shoes from sellers
      across America
    </p>
  </div>
  <hr />
  <!-- Categories-->
  <div class="row no-gutters">
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes1"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/close-up-of-person-tying-their-shoe.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="womens's sneakers"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's hiking sneakers</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$39.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes2"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/studded-flats.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's flats"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's flats</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$39.99</span></span
          >
        </div>
      </div>
    </div>
    <!---Category -->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes3"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/silver-wingtip-shoes-on-silver-background.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's gold sneakers"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's gold sneakers</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$29.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes4"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/standing-by-a-window-in-heels.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's heels</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$19.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes5"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/high-heels-on-steps.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="Women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's heels</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$39.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes6"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/heels-and-flowers.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's heels</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$29.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes7"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/black-and-nude-boots-on-red.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's heels</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$59.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes8"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/tattoo-high-heels.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's heels</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$29.99</span></span
          >
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes9"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/fashionable-high-heels-with-hanging-tassels.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's heels</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$19.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes10"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/accessories-flatlay.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's heels</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$29.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category..comment-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes11"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/low-shot-of-women-sitting-on-velvet-couch.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's heels</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$39.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes12"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/tying-laces-on-boots.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's booties</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$29.99</span></span
          >
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes13"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/boots-on-blue.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's heels</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$29.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes14"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/person-in-boots-stand-on-crunchy-fall-leaves.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's boots</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$39.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes15"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/suede-boots-fashion.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's heels</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$29.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes16"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/steel-toed-boots.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's boots</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$49.99</span></span
          >
        </div>
      </div>
    </div>
    <!--new category for new posts below -->
    <div
      *ngFor="let item of listofItems"
      class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
    >
      <div class="card border-0">
        <a class="d-block" href=""
          ><img class="d-block" src="{{ item.imgURL }}" alt="womens's sneakers"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">{{ item.itemName }}</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">{{ item.itemPrice }}</span></span
          >
        </div>
      </div>
    </div>
    <!---->
  </div>
</div>
