<!DOCTYPE html>
<div class="container pb-5 mb-sm-2">
  <div class="topicsection">
    <h1 class="title">Women's Jeans</h1>
    <p>
      Shop from a wide selection of stylish and affordable jeans from sellers
      across America
    </p>
  </div>
  <hr />
  <!-- Categories-->
  <div class="row no-gutters">
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenjean1"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/torso-of-person-in-black-jeans-and-a-grey-soft-sweater.jpg?width=746&format=pjpg&exif=1&iptc=1"
            alt="womens's jeans"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's grey jeans</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$19.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenjean2"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/persons-torso-and-jeans-standing-on-a-balcony.jpg?width=746&format=pjpg&exif=1&iptc=1"
            alt="women's jeans"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's light jeans</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$15.99</span></span
          >
        </div>
      </div>
    </div>
    <!---Category -->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenjean3"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/torso-of-person-on-an-apartment-balcony-facing-camera.jpg?width=746&format=pjpg&exif=1&iptc=1"
            alt="women's jean"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's bleached jeans</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$24.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenjean4"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/close-up-of-the-pocket-of-lite-blue-jeans.jpg?width=746&format=pjpg&exif=1&iptc=1"
            alt="women's jeans"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's casual jeans</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$19.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenjean5"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/person-holding-their-hands-in-jean-pockets.jpg?width=746&format=pjpg&exif=1&iptc=1"
            alt="Women's jeans"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's medium dark jeans</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$19.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenjean6"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/white-t-shirt-detail.jpg?width=746&format=pjpg&exif=1&iptc=1"
            alt="women's shirt"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's dark jeans</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$24.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenjean7"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/monochrome-person-sitting-down-in-black-shirt-and-blue-jeans.jpg?width=746&format=pjpg&exif=1&iptc=1"
            alt="women's jean"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's black jeans</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$15.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenjean8"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/woman-leans-on-legs.jpg?width=746&format=pjpg&exif=1&iptc=1"
            alt="women's jeans"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's distressed jeans</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$19.99</span></span
          >
        </div>
      </div>
    </div>
    <!--- <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes9"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/fashionable-high-heels-with-hanging-tassels.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's heels</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$19.99</span></span
          >
        </div>
      </div>
    </div>-->
    <!--Category-->
    <!--<div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes10"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/accessories-flatlay.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's heels</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$29.99</span></span
          >
        </div>
      </div>
    </div>-->
    <!--Category..comment-->
    <!--<div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes11"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/low-shot-of-women-sitting-on-velvet-couch.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's heels</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$39.99</span></span
          >
        </div>
      </div>
    </div>-->
    <!--Category-->
    <!--<div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes12"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/tying-laces-on-boots.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's booties</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$29.99</span></span
          >
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes13"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/boots-on-blue.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's heels</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$29.99</span></span
          >
        </div>
      </div>
    </div>-->
    <!--Category-->
    <!--<div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes14"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/person-in-boots-stand-on-crunchy-fall-leaves.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's boots</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$39.99</span></span
          >
        </div>
      </div>
    </div>-->
    <!--Category-->
    <!--<div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes15"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/suede-boots-fashion.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's heels</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$29.99</span></span
          >
        </div>
      </div>
    </div>-->
    <!--Category-->
    <!--<div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes16"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/steel-toed-boots.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's boots</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$49.99</span></span
          >
        </div>
      </div>
    </div>
-->
    <!--new category for new posts below -->
    <div
      *ngFor="let item of listofItems"
      class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
    >
      <div class="card border-0">
        <a class="d-block" href=""
          ><img class="d-block" src="{{ item.imgUrl }}" alt="womens's sneakers"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">{{ item.itemName }}</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">{{ item.itemPrice }}</span></span
          >
        </div>
      </div>
    </div>
    <!---->
  </div>
</div>
