<!DOCTYPE html>
<div class="container pb-5 mb-sm-2">
  <div class="topicsection">
    <h1 class="title">Women's jackets</h1>
    <p>
      Shop from a wide selection of stylish and affordable jackets from sellers
      across America
    </p>
  </div>
  <hr />
  <!-- Categories-->
  <div class="row no-gutters">
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenjacket1"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/model-stares-through-a-nearby-window.jpg?width=746&format=pjpg&exif=1&iptc=1"
            alt="womens's jacket"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's white jacket</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$24.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenjacket2"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/leather-jacket-and-tea.jpg?width=746&format=pjpg&exif=1&iptc=1"
            alt="women's jacket"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's black leather jacket</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$39.99</span></span
          >
        </div>
      </div>
    </div>
    <!---Category -->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenjacket3"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/a-model-in-red-suit-jacket-removing-sunglasses.jpg?width=746&format=pjpg&exif=1&iptc=1"
            alt="women's jacket"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's red jacket</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$24.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenjacket4"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/model-with-leather-jacket-over-shoulders.jpg?width=746&format=pjpg&exif=1&iptc=1"
            alt="women's jacket"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's black leather jacket</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$34.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenjacket5"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/urban-fashion.jpg?width=746&format=pjpg&exif=1&iptc=1"
            alt="Women's jacket"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's olive green jacket</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$24.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenjacket6"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/woman-in-jean-jacket.jpg?width=746&format=pjpg&exif=1&iptc=1"
            alt="women's jacket"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's denim jacket</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$19.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenjacket7"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/woman-in-orange-zip-up-jacket.jpeg?width=746&format=pjpg&exif=1&iptc=1"
            alt="women's jacket"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's orange jacket</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$19.99</span></span
          >
        </div>
      </div>
    </div>
    <!--Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenjacket8"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/woman-takes-photo-in-front-of-door.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's jacket"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's green casual jacket</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$24.99</span></span
          >
        </div>
      </div>
    </div>
    <!--- <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes9"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/fashionable-high-heels-with-hanging-tassels.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's heels</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$19.99</span></span
          >
        </div>
      </div>
    </div>-->
    <!--Category-->
    <!--<div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes10"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/accessories-flatlay.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's heels</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$29.99</span></span
          >
        </div>
      </div>
    </div>-->
    <!--Category..comment-->
    <!--<div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes11"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/low-shot-of-women-sitting-on-velvet-couch.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's heels</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$39.99</span></span
          >
        </div>
      </div>
    </div>-->
    <!--Category-->
    <!--<div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes12"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/tying-laces-on-boots.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's booties</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$29.99</span></span
          >
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes13"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/boots-on-blue.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's heels</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$29.99</span></span
          >
        </div>
      </div>
    </div>-->
    <!--Category-->
    <!--<div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes14"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/person-in-boots-stand-on-crunchy-fall-leaves.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's boots</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$39.99</span></span
          >
        </div>
      </div>
    </div>-->
    <!--Category-->
    <!--<div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes15"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/suede-boots-fashion.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's heels</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$29.99</span></span
          >
        </div>
      </div>
    </div>-->
    <!--Category-->
    <!--<div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
      <div class="card border-0">
        <a class="d-block" href="/womenshoes16"
          ><img
            class="d-block"
            src="https://burst.shopifycdn.com/photos/steel-toed-boots.jpg?width=1850&format=pjpg&exif=1&iptc=1"
            alt="women's shoes"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">women's boots</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">$49.99</span></span
          >
        </div>
      </div>
    </div>
-->
    <!--new category for new posts below -->
    <div
      *ngFor="let item of listofItems"
      class="col-lg-3 col-sm-4 col-6 category-card border border-collapse"
    >
      <div class="card border-0">
        <a class="d-block" href=""
          ><img class="d-block" src="{{ item.imgUrl }}" alt="womens's sneakers"
        /></a>
        <div class="card-body pb-2">
          <h2 class="h6 mb-2">{{ item.itemName }}</h2>
          <span class="d-block mb-3 font-size-xs text-muted">
            <span class="font-weight-semibold">{{ item.itemPrice }}</span></span
          >
        </div>
      </div>
    </div>
    <!---->
  </div>
</div>
