<div class="container pb-5 mb-sm-2">
    <div class="topicsection">
      <h1 class="title">Men's Shirt's</h1>
      <p>
        Shop from a wide selection of stylish and affordable shirt's from sellers
        across America
      </p>
    </div>
    <hr />
    <!-- Categories-->
    <div class="row no-gutters">
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensshirts1"><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/white-collar-shirts-on-rack-in-sun.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's hat's"/></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's White Shirts</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$40.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensshirts2"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/dark-red-shirt-with-wooden-buttons.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's hat's"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Red Button Up</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$25.99</span></span
            >
          </div>
        </div>
      </div>
      <!---Category -->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensshirts3"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/t-shirts-hanging-on-rack.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's leather hat"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's T-Shirt's </h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$40.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensshirts4"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/long-sleeved-back-shirt.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="Men's Baseball Cap"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Black Long Sleeve</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$30.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensshirts5"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/white-tshirt-template.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="Brown hat"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's White Shirt</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$20.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensshirts6"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/tattooed-man-takes-a-stroll-in-summer.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's black hat"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Black Shirt</h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$15.99</span></span
            >
          </div>
        </div>
      </div>
      <!--Category-->
      <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
          <a class="d-block" href="/mensshirts7"
            ><img
              class="d-block"
              src="https://burst.shopifycdn.com/photos/mens-fashion-near-blue-and-red-wall.jpg?width=4460&height=4460&exif=1&iptc=1"
              alt="men's grey hat"
          /></a>
          <div class="card-body pb-2">
            <h2 class="h6 mb-2">Men's Pink Button-Up </h2>
            <span class="d-block mb-3 font-size-xs text-muted">
              <span class="font-weight-semibold">$25.99</span></span
            >
          </div>
        </div>
      </div>
      
    
      
      


