<!DOCTYPE html>
<section>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Login</h2>

              <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group">
                  <input
                    formControlName="Username"
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="username"
                    placeholder="username"
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      loginForm.controls['Username'].dirty &&
                      loginForm.hasError('required', 'Username')
                    "
                    >*Email is required</span
                  >
                </div>
                <div class="form-group">
                  <input
                    formControlName="Password"
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    aria-describedby="password"
                    placeholder="password"
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      loginForm.controls['Password'].dirty &&
                      loginForm.hasError('required', 'Password')
                    "
                    >*Password is required</span
                  >
                </div>
                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    [disabled]="!loginForm.valid"
                    class="btn btn-dark mb-2"
                  >
                    Login
                  </button>
                </div>
              </form>
              <a
                class="signupText"
                style="color: white; passing-top: 30px"
                routerLink="/register"
                >You don't have an account? Sign-up</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
